<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit goal</title>
</head>
<body>
<h2>Create goal</h2>
<form th:action="@{/editGoal}" th:method="POST" th:object="${goal}">
  <div>
    <input th:field="*{id}" type="hidden">

    <label for="name">Name: </label>
    <input id="name" type="text" th:field="*{name}">
    <br>
    <br>
    <label for="priority">Priority: </label>
    <input id="priority" type="text" th:field="*{priority}">
    <br>
    <label for="duration">Duration: </label>
    <input id="duration" type="text" th:field="*{estimation.duration}">
    <br>
  </div>
  <br>
  <input type="submit" value="Edit">
</form>
</body>
</html>