<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Goals list</title>
</head>
<body>
<h1>Welcome to our planner!</h1>
<h2>Your id: <span th:text="${id}"/></h2>
<table border="1" cellpadding="10">
  <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>priority</td>
      <td>action</td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="goal : ${goals}">
      <td th:text="${goal.id}"></td>
      <td th:text="${goal.name}"></td>
      <td th:text="${goal.priority}"></td>
      <td><a th:href="@{'/deleteGoal/' + ${goal.id}}"><button>Delete</button></a> <br/></td>
    </tr>
  </tbody>
</table>
<a href="/createGoal"><button>Create goal</button></a>
</body>
</html>